.road{
    background-color: black;
    
}

.task{
    margin-right:10%!important;
    }

.img{
    width: 80%;
}




.bottomFixButtionComponent{
    position: fixed;
    bottom: 0px;
     padding-top: 20px;
     background-color: gainsboro;
    background-blend-mode: darken;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -4px 3px rgb(27 27 24 / 75%);
    }



.topFixButtionComponent{
        position: fixed;
        top: 0px;
        padding-bottom: 10px;
        scroll-margin-block: 50;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px -4px 3px rgb(27 27 24 / 75%);
        }


